body,#wrap {
    background: #fff;
}
#header{
    height: 150px;
}
#header:before, #header:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 0px;
}

#banner{
    background: #72d0eb!important;
}
.highlight{
    margin: 0px!important;
}
.widget{
    box-shadow:1px 2px 3px #ddd;
    text-shadow:none;
    background: #ffffff;
}
.widget-title{
    text-shadow:none;
}
/*导航文字*/
#main-nav .main-nav-link{
    /*font-weight:normal;*/
    color: #ffffff;
    text-shadow:none;
    font-size: 1.0em;
}

.article-more-link a{
    text-shadow: none;
    /*background-color: #fafafa!important;*/
    /*border-color: #d1d9de!important;*/
    /*color: #758697!important;*/
}
.widget a {
    text-shadow: none ;
    color: #606266;
    text-decoration: none;
}
.article-more-link a:hover{
    background-color: #909399;
    border-color: #909399;
    color: #fff;
    text-shadow: none ;
}
.article-share-button{
    background-color: #38a0f4;
    border-color: #42a5f5;
    color: #fff;
    width: 100%;
    height: 30px;
}


.article-title{
    font-size:1.5em;
}
.archive-type-post .archive-article-header h1 a{

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*height: 44px;*/
}
.archive-article-title{
    width: 90%!important;
    display: block;
    /*height: 44px;*/
}
.article-entry h1{
    font-size: 1.2em
}
.article-nav-caption{
    color: #606266;
}
.article-entry blockquote {
    font-size:1em;
    text-align: left;
    background-color: #f7f7f7;
    border-left: 0.25em solid #b4b4b4;
    padding: 15px;
}

.my_name,.my_email{
    /*margin: auto;*/
    text-align: center;
    font-size: 1.2em;
    margin: 5px 0px;
}
.my_name{
    font-size: 1.5em;
}
.my_logo {
    margin: 10px auto;
    text-align: center;
}
.my_logo img{
    margin: auto;
    width: 60px;
    height: 60px;
    border-radius:50%;
    border: #ffffff 5px solid;
}
.my_volume{
    display: flex;
    justify-content:space-around;
    text-align: center;
}

.my_volume div{
    width: 33%;
    border-right: 1px #ccc solid;
}
.my_volume div:last-child{
    border-right: 0px #ccc solid;
}
.myinfo{
    /*background: #38a0f4;*/
}
#appreciation{
    display: none;
}
.is_appreciation{
    text-align: center;
    margin: 5px 0px;
    font-size: 1.5em;
    cursor:pointer
}
.appreciation{
    display: flex;
    justify-content:space-around;
    text-align: center;
}
.appreciation div{
    width: 100%;
    padding: 5px;
}
.appreciation img{
    width: 100%;
}
.share-tip{
    text-align: center;
    color: #606266;
}
#busuanzi_container_page_pv{
    display: block;
    /*margin-right: 30px;*/
    float: right;
}